
@*@{
    ViewBag.Title = "Index";
    ViewBag.dreams = "active";
}


<div class="my-dreams font-bnm">
    <div class="my-dreams-t">
        <h1>DREAMS</h1>
    </div>
    <div class="my-dreams-b">
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
        </div>
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
        </div>
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
        </div>
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
            <h1 class="example-one"></h1>
        </div>
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
        </div>
        <div class="mdb">
            <h1>MAGIC</h1>
            <p>
                Creative storm and ocean of<br>
                success
            </p>
        </div>
    </div>
</div>*@











@using WebApplication1.Models;
@*@using System.Linq;*@



@model  IList<Dream>


@{
    ViewBag.Title = "Index";
    //ViewBag.dreams = "active";
}



<div class="my-dreams font-bnm">
    <div class="my-dreams-t">
        <h1>DREAMS</h1>
    </div>

    <div class="my-dreams-b infinite-scroll">
        @*@foreach (var item in Model)
        {

            <div class="mdb">

                <div class="activeMDB">
                    @{
            var title = @item.Title.ToString();
            var description = @item.Description.ToString();
                    }


                    @if (title.Length > 6)
                    {
                        title = title.Substring(0, 6);

                        if (title.Substring(0, 6).Contains(" "))
                        {
                            title = title.Substring(0, title.LastIndexOf(' '));
                        }

                        title += "...";
                    }


                    @if (description.Length > 50)
                    {
                        description = description.Substring(0, 50);

                        if (description.Substring(0, 50).Contains(" "))
                        {
                            description = description.Substring(0, description.LastIndexOf(' '));
                        }

                        description += "...";
                    }




                    <h1>@title</h1>
                    <p>
                        @Html.Raw(@description)
                    </p>

                </div>

                <div class="hiddenMDB">
                    <span class="example-one" data-text="MORE DETAILS +">MORE DETAILS +</span>
                </div>

            </div>



        }*@

        @Html.Partial("_Dreams", (ViewBag.Dreams as Dictionary<int, Dream>))
    </div>
    
</div>




<script src="~/Scripts/infiniteScroll.js"></script>
<script type="text/javascript">
   
    var moreRowsUrl = '@Url.RouteUrl("dreams")';
    $(window).scroll(scrollHandler);
</script>



